<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>oct8ne</name>
    <displayName><![CDATA[Oct8ne]]></displayName>
    <version><![CDATA[1.0.18]]></version>
    <description><![CDATA[Oct8ne module connector]]></description>
    <author><![CDATA[Oct8ne]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[All data will be deleted ¿continue?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>